.display-container {
  background-color: #2a2c2f;
  color: white;
  border-radius: 6px;
  width: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 500px;
  /* height: 400px; */
  position: relative;
}

.display-container-tool {
  font-size: 12px;
  cursor: pointer;
}

.selection-display {
  word-break: break-word;
  font-family: 'Avenir Next';
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px 20px 0 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pronounces_list {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #a7a7a7;
}

.forms_list {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #a7a7a7;
  display: flex;
  flex-direction: row;
}

.forms_list_item {
  background: rgb(58, 55, 50);
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
}

.forms_list_item_up {
  color: hsl(0, 0%, 100%);
  margin-bottom: 2px;
  font-size: 13px;
}

.forms_list_item_down {
  font-size: 11px;
}

.explain_list {
  font-size: 13px;
  font-weight: 700;
}

.explain_list_item {
  display: flex;
  padding: 5px;
  /* margin-bottom: 5px; */
  flex-direction: row;
}

.explain_list_pos {
  font-family: Avenir Next;
  color: #868788;
  min-width: 39px;
}

.pronounces_item {
  margin-right: 5px;
  background-color: #313336;
  padding: 4px 8px;
  border-radius: 5px;
}

.detail_content {
  padding: 10px 20px;
}

.sentences_title {
  margin-top: 9px;
  font-weight: 700;
  font-size: 16px;
  font-family: Avenir Next;
  margin-bottom: 4px;
}

.sentences_list_item {
  font-weight: 700;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.sentences_list_item_text {
  /* display: flex;
        flex-direction: row; */
  /* position: relative; */
  font-size: 14px;
  margin-left: 20px;
  position: relative;
}

.sentences_list_item_tran {
  font-size: 11px;
  /* margin-left: 12px; */
  color: #a7a7a7;
  margin-left: 20px;
}

.sentences_list_item_dottt {
  position: absolute;
  top: 0px;
  left: -20px;
}

.translation-detail-content {
  padding: 16px 20px 5px;
}

.translation-before-text {
  font-size: 14px;
}

.translation-after-text {
  font-size: 14px;
}

.translation-line {
  height: 1px;
  width: 360px;
  background-color: rgb(95 95 95);
  margin-top: 8px;
  margin-bottom: 8px;
}

/* .translation-after-text-loading {
  height: 30px;
  width: 360px;
  background-color: rgb(95 95 95);
} */

.translation-after-text-loading {
  width: 360px;
  height: 50px;
  background: linear-gradient(90deg, #3e3e3e 25%, #374277 37%, #3e3e3e 63%) 0 0 /
    400% 100%;
  background-size: 400% 100%;
  border-radius: 5px;
  animation: arco-skeleton-circle 1.5s linear infinite;
}

@keyframes arco-skeleton-circle {
  0% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}

.translation-reference {
  word-break: break-word;
  font-family: 'Avenir Next';
  font-weight: 700;
  font-size: 13px;
  line-height: 28px;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 20px 10px 20px;
}
