.lingo-search-wrapper {
  z-index: 10000;
  position: fixed;
  top: 20%;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: fit-content;
}

.lingo-search {
  box-sizing: border-box;
  width: 418px;
  height: 72px;
  background: #2a2c2f;
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.6);
  /* border-radius: 12px; */
  display: flex;
  align-items: center;
  padding: 21px 20px;
  position: relative;
  border-radius: 12px 12px 0px 0px;
}

.lingo-search-input {
  background: #2a2c2f;
  outline: none;
  font-size: 20px;
  line-height: 24px;
  width: 330px;
  height: 30px;
  padding: 0;
  color: #ffffff;
  border: none;
}

.lingo-search__contentWrap {
  width: 418px;
  max-height: 500px;
  background: #2a2c2f;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior: none;
  border-radius: 0 0 12px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SuggestList__item {
  width: 418px;
  height: 48px;
  background: #2a2c2f;
  padding: 0 28px 0 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

.SuggestList__word {
  color: #ffffff;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  margin-right: 16px;
  max-width: 240px;
  flex-grow: 0;
  flex-shrink: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.SuggestList__explain_list {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
